{% layout 'layout.liquid' %}
{% block content %}
    <div>
        <h2 class="display-6">All My Movies</h2>
        <div class="row">
            {% for movie in movies %}
            <div class="movie" style="width: 18rem;">
                <h5 class="card-header">{{ movie.title }}</h5>
                <div class="card-body">
                    <img class="show-img" src="{{movie.img}}" alt="{{movie.title}}">
                    <form action="/movie/search" method="POST">
                        <input type="text" name="movieSearch" value="{{movie.title}}" hidden>
                        <button class="btn-info" type="submit">View {{movie.title}}</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}