{% layout 'layout.liquid' %}
{% block content %}
<h1>{{title}}</h1>
<div class="show-container container-md">
<img class="show-img" src="{{img}}" alt="{{title}}">
<div class="movie-info">
    <ul>
        <li>Genres: {{genres}}</li>
        <li>Year: {{year}}</li>
        <li>IMDb Rating: {{rating}}</li>
        <li>Plot: {{plot}}</li>
    </ul>
</div>
<div class="button">
    <form action="/movie/add" method="POST">
        <input type="text" name="imdbId" value="{{imbd_id}}" hidden>
        <input type="text" name="title" value="{{title}}" hidden>
        <input type="text" name="img" value="{{img}}" hidden>
        <input 
            type="submit" 
            value="Add to Profile"
            class="btn btn-success"
        >
    </form>
</div>
</div>
{% endblock %}