{% layout 'layout.liquid' %}
{% block content %}
<h1>{{title}}</h1>
<div class="show-container container-md">
<img class="show-img" src="{{img}}" alt="{{title}}">
<div class="movie-info">
    <ul>
        <li>Genres: {{genres}}</li>
        <li>Year: {{year}}</li>
        <li>IMDb Rating: {{rating}}</li>
        <li>Plot: {{plot}}</li>
    </ul>
</div>
</div>
{% endblock %}