{% layout 'layout.liquid' %}
{% block content %}
    <div class="theater-container">
        <h2 class="display-3">Movies in Theaters</h2>
        <div class="row">
            {% for movie in movies %}
            <div class="movie" style="width: 18rem;">
                <h5 class="card-header">{{ movie.title }}</h5>
                <div class="card-body theater-movie justify-content-center">
                    <form action="/movie/search" method="POST">
                        <input type="text" name="movieSearch" value="{{movie.title}}" hidden>
                        <input type="image" class="theater-img" src="{{movie.image}}" alt="{{movie.title}} Submit">
                    </form>
                    <div class="card-footer theater-info">
                        <div class="theater-infoChild">Currently Ranked: {{movie.rank}}</div>
                        <div class="theater-infoChild">Weeks in Theaters: {{movie.weeks}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}